.card {
    box-shadow: 0 0.5px 0.5px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
.card:hover {
    box-shadow:0 4px 4px 0 rgba(0,0,0,0.2);
  } 
.container{
    border: 5%;
    padding: 10%;
}
.row{
    padding:10px;
    overflow-wrap: break-word;
}

img{
    height: 300px;
    
}
button {
  background-color: rgb(42, 165, 42);
}